@model WebView.Controllers.WorkingTimeController
@{
    ViewBag.Title = "Working Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string Caption = ".: " + ViewBag.Title + " :.";
    ViewBag.Caption = ".: " + ViewBag.Title + " :.";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/workingtime.js")"></script>
}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title="@ViewBag.Caption">
<div id="toolbar" class="grid_toolbar">
       <div style="float: left">
           <a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
           <a id="btn_add_new" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add New</a>
           <a id="btn_edit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit Data</a>
           <a id="btn_del" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
           @*<a id="btn_find" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">Find</a>*@
       </div>
       @*<div id="parent" style="float: right; background: #357eb4; color: #fff; height: 25px; padding: 0 10px; font-size: 12px; vertical-align:middle">
           <label style="font-size: 14px; font-weight: bold; vertical-align:middle">Branch Office : </label>
           <select id="parenttype" >
               @foreach (var item in Model._divisionService.GetAll())
               {
                   <option value="@item.Id">@item.Name</option>
               }
           </select>
       </div>*@
   </div>

    <div id="table_div">
        <table id="list"></table>
        <div id="pager" class="scroll" style="text-align: center;"></div>
    </div>

<!-- Dialog Box -->
    <div id="form_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px" data-options="modal:true" 
        title="@ViewBag.Caption">

        <div id="form_toolbar" class="form_toolbar">
            <a id="form_btn_save" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Save</a>
            <a id="form_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>

        <div style="overflow: auto">
            <form id="frm">
                @*<fieldset class="ui-widget-content ui-corner-all input_form_div">*@
                    <table width="100%" border="0" cellpadding="1" cellspacing="1" class="input_form_tbl" >
                        <tr nowrap>
                            <td width="80" nowrap style="width: 80px">
                                <label>ID</label></td>
                            <td width="160">
                                <input id="id" type="text" size="10" disabled="disabled"/></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Code</label></td>
                            <td>
                                <input id="Code" name="Code" type="text" size="10" maxlength="20" align="left" /></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Name</label></td>
                            <td colspan="3">
                                <input id="Name" name="Name" type="text" size="60" maxlength="60" align="left" /></td>
                        </tr>
                        <tr>
                            <td>
                                Min CheckIn : 
                            </td>
                            <td width="160">
                                <input id="MinCheckIn" name="MinCheckIn" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                            <td width="70">
                                CheckIn : 
                            </td>
                            <td width="160">
                                <input id="CheckIn" name="CheckIn" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                            <td>
                                Max CheckIn : 
                            </td>
                            <td width="160">
                                <input id="MaxCheckIn" name="MaxCheckIn" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                BreakOut : 
                            </td>
                            <td width="160">
                                <input id="BreakOut" name="BreakOut" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                            <td width="60">
                                BreakIn : 
                            </td>
                            <td width="160">
                                <input id="BreakIn" name="BreakIn" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Min CheckOut : 
                            </td>
                            <td width="160">
                                <input id="MinCheckOut" name="MinCheckOut" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                            <td width="60">
                                CheckOut : 
                            </td>
                            <td width="160">
                                <input id="CheckOut" name="CheckOut" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                            <td>
                                Max CheckOut : 
                            </td>
                            <td width="160">
                                <input id="MaxCheckOut" name="MaxCheckOut" title="HH:mm" type="text" size="10" maxlength="12" value="00:00"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>CheckIn Tolerance : </label></td>
                            <td>
                                <input id="CheckInTolerance" name="CheckInTolerance" type="text" size="10" maxlength="20" class="textright easyui-numberbox" data-options="min:0,precision:1" />Minutes</td>
                            <td>
                                <label>CheckOut Tolerance : </label></td>
                            <td>
                                <input id="CheckOutTolerance" name="CheckOutTolerance" type="text" size="10" maxlength="20" class="textright easyui-numberbox" data-options="min:0,precision:1" />Minutes</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Work Interval : </label></td>
                            <td>
                                <input id="WorkInterval" name="WorkInterval" type="text" size="10" maxlength="20" class="textright easyui-numberbox" data-options="min:0,precision:1" disabled />Hours</td>
                            <td>
                                <label>Break Interval : </label></td>
                            <td>
                                <input id="BreakInterval" name="BreakInterval" type="text" size="10" maxlength="20" class="textright easyui-numberbox" data-options="min:0,precision:1" disabled />Hours</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Time Zone </label></td>
                            <td colspan="5">
                                <select id="TimeZone" name="TimeZone">
                                    @foreach (var item in TimeZoneInfo.GetSystemTimeZones())
                                    {
                                        <option value="@item.Id">@item.DisplayName</option>
                                    }
                                </select></td>
                        </tr>
                        <tr>
                            <td>
                                <label>TimeZone Offset</label></td>
                            <td colspan="3">
                                <input id="TimeZoneOffset" name="TimeZoneOffset" type="number" size="10" maxlength="30" align="left" value="0"/>Minute(s)</td>
                        </tr>
                    </table>
                @*</fieldset>*@
            </form>
        </div>
    </div>
<!-- End Dialog Box -->

<!-- Dialog Box  Delete-->
    <div id="delete_confirm_div" class="easyui-dialog" style="text-align: left; height: 130px; width: 300px;"
        data-options="modal:true" title=".: Confirmation :.">

        <div id="delete_confirm_toolbar" class="form_toolbar">
            <a id="delete_confirm_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="delete_confirm_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="delete_confirm_info">
            <span>Are you sure to delete the selected record?</span>
            <input id="delete_confirm_id" type="hidden" />
        </div>
    </div>
<!-- End Dialog Box Delete-->



  </div>

