@model WebView.Controllers.SalaryStandardController
@{
    ViewBag.Title = "Salary Standard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string Caption = ".: " + ViewBag.Title + " :.";
    ViewBag.Caption = ".: " + ViewBag.Title + " :.";
}

@section Head {
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/tools.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/apps_js/salarystandard.js")"></script>
}
<div id="ua_panel" class="easyui-panel" style="text-align: left;" data-options="modal:true" 
    title="@ViewBag.Caption">
<div id="toolbar" class="grid_toolbar">
       <div style="float: left">
           <a id="btn_reload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">Reload Data</a>
           <a id="btn_add_new" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add New</a>
           @*<a id="btn_add_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add/Edit Detail</a>*@
           <a id="btn_edit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit Data</a>
           <a id="btn_del" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>
           @*<a id="btn_find" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-search'">Find</a>*@
       </div>
       @*<div id="parent" style="float: right; background: #357eb4; color: #fff; height: 25px; padding: 0 10px; font-size: 12px; vertical-align:middle">
           <label style="font-size: 14px; font-weight: bold; vertical-align:middle">Branch Office : </label>
           <select id="parenttype" >
               @foreach (var item in Model._divisionService.GetAll())
               {
                   <option value="@item.Id">@item.Name</option>
               }
           </select>
       </div>*@
   </div>

    <div id="table_div">
        <table id="list"></table>
        <div id="pager" class="scroll" style="text-align: center;"></div>
    </div>

<!-- Dialog Box -->
    <div id="form_div" class="easyui-dialog" style="text-align: left; top:120px; padding:0px 0px 10px" data-options="modal:true" 
        title="@ViewBag.Caption">

        <div id="form_toolbar" class="form_toolbar">
            <a id="form_btn_save" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Save</a>
            <a id="form_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>

        <div style="overflow: auto">
            <form id="frm">
                @*<fieldset class="ui-widget-content ui-corner-all input_form_div">*@
                    <table width="100%" border="0" cellpadding="1" cellspacing="1" class="input_form_tbl" >
                        <tr nowrap>
                            <td width="80" nowrap style="width: 80px">
                                <label>ID</label></td>
                            <td width="160">
                                <input id="id" type="text" size="10" disabled="disabled"/></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Title</label></td>
                            <td colspan="3">
                               <input id="TitleInfoId" name="TitleInfoId" hidden class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                               <input id="btnTitleInfo" name="btnTitleInfo" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                               <input id="TitleInfoName" name="TitleInfo" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                        </tr>
                        <tr>
                            <td>
                                <label>Effective Date</label></td>
                             <td>
                             <div id="EffectiveDateDiv"><input id="EffectiveDate" class="easyui-datebox" title="mm/dd/yyyy" type="text" size="10" value="@DateTime.Today.ToShortDateString()"/>
                            </div>
                             <div id="EffectiveDateDiv2"><input id="EffectiveDate2" type="text" size="10" disabled="disabled"/></div>
                                 <input name="EffectiveDate" type="text" size="1" hidden="hidden"/>
                             </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <label>Description</label></td>
                            <td colspan="3"><label>
                              <textarea name="Description" id="Description" cols="60" rows="3"></textarea>
                            </label></td>
                        </tr>
                    </table>
                    <div id="tabledetail_div">
                        <div id="toolbardetail" class="grid_toolbar">
                            @*<a id="btn_add_new_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Add New</a>*@
                            <a id="btn_edit_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'">Edit</a>
                            @*<a id="btn_del_detail" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Delete</a>*@
                        </div>
                            <table id="listdetail" class="scroll" cellpadding="0" cellspacing="0"></table>
                        <div id="pagerdetail" class="scroll" style="text-align: center;"></div>
                    </div>
                @*</fieldset>*@
            </form>
        </div>
    </div>
<!-- End Dialog Box -->

<!-- Dialog Box  Delete-->
    <div id="delete_confirm_div" class="easyui-dialog" style="text-align: left; height: 130px; width: 300px;"
        data-options="modal:true" title=".: Confirmation :.">

        <div id="delete_confirm_toolbar" class="form_toolbar">
            <a id="delete_confirm_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="delete_confirm_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="delete_confirm_info">
            <span>Are you sure to delete the selected record?</span>
            <input id="delete_confirm_id" type="hidden" />
        </div>
    </div>
<!-- End Dialog Box Delete-->

<!-- Dialog Box Detail-->
    <div id="detail_div" class="easyui-dialog" style="text-align: left;padding:0px 0px 10px"
        data-options="modal:true" title=".: Input Detail :.">

        <div id="detail_toolbar" class="form_toolbar">
            <a id="detail_btn_submit" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'">Submit</a>
            <a id="detail_btn_cancel" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close</a>
        </div>
        <div id="detail_info">
              <table  width="100%" border="0" cellpadding="5" cellspacing="5" class="input_form_tbl">
                  <tr>
                      <td width="139" nowrap style="width: 100px">
                         Salary Item
                      </td>
                      <td>
                         <input id="SalaryItemId" hidden class="textright" type="text" size="10" maxlength="7" disabled="disabled" />
                         <input id="btnSalaryItem" name="buttonactivated" type="button" style="cursor: pointer;" class="ui-corner-all ui-state-default" value=".." />
                         <input id="SalaryItemName" name="SalaryItem" type="text" size="56" maxlength="50" class="editable upper" disabled="disabled" />
                         <input id="SalaryStandardId" name="SalaryStandardId" type="text" size ="10" hidden="hidden" />
                      </td>
                  </tr>
                  <tr>
                        <td>
                            Amount
                        </td>
                        <td>
                            <input id="Amount" name="Amount" type="text" size="15" maxlength="20" class="textright easyui-numberbox" data-options="groupSeparator:','" value="0" />
                        </td>
                  </tr>
              </table>
        </div>
    </div>
<!-- End Dialog Box Detail-->

<!-- Look Up TitleInfo -->
    <div id="lookup_div_titleinfo" class="easyui-dialog" title="List Title Info" style="padding: 0px 5px; height: 490px; width: 480px;"
        data-options="iconCls:'icon-tip',modal:true">

        <div id="lookup_toolbar_titleinfo" class="grid_toolbar">
            <a id="lookup_btn_add_titleinfo" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">Select Data</a>
            <a id="lookup_btn_cancel_titleinfo" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">Close Window</a>
        </div>

        <table id="lookup_table_titleinfo" class="scroll" cellpadding="0" cellspacing="0"></table>
        <div id="lookup_pager_titleinfo" class="scroll" style="text-align: center;"></div>
    </div>
<!-- END Look Up TitleInfo -->

  </div>

